body {
  background-image: url("../images/booking.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
  margin: 0; }

.title h2 {
  font-family: Abril Fatface;
  font-size: 48px;
  font-weight: normal;
  color: white; }

h3 {
  font-family: Open Sans;
  font-size: 16px;
  color: white;
  text-align: center; }
  h3 span {
    border-bottom: 1px dotted white; }

.wrapper {
  background: rgba(193, 150, 99, 0.8);
  position: absolute;
  left: 10%;
  top: 10%;
  max-width: 80vw; }
  @media screen and (max-width: 650px) {
    .wrapper {
      background: transparent; } }

.formbox {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 25px; }
  .formbox select {
    background: rgba(255, 255, 255, 0.3);
    border: 2px solid white;
    font-family: Open Sans;
    font-size: 24px;
    color: white;
    margin: 10px;
    text-align: center; }
    .formbox select option {
      color: black; }
  .formbox label {
    color: white;
    font-family: Montserrat;
    font-weight: thin;
    font-size: 30px;
    padding-right: 10px; }
  .formbox input[type=text] {
    padding: 5px;
    margin: 10px;
    background: rgba(255, 255, 255, 0.3);
    color: white;
    border: 2px solid white;
    transition: all 100ms ease;
    font-family: Open Sans;
    font-size: 24px; }
    .formbox input[type=text]:hover {
      background: rgba(0, 0, 0, 0.8);
      color: white; }
  .formbox input[type=number] {
    padding: 5px;
    margin: 10px;
    background: rgba(255, 255, 255, 0.3);
    color: white;
    border: 2px solid white;
    transition: all 100ms ease;
    font-family: Open Sans;
    font-size: 24px; }
    .formbox input[type=number]:hover {
      background: rgba(0, 0, 0, 0.8);
      color: white; }
    .formbox input[type=number]:focus {
      background: rgba(0, 0, 0, 0.8);
      color: white; }
  .formbox input[type=submit] {
    padding: 5px;
    margin: 20px;
    background: rgba(255, 255, 255, 0.3);
    color: white;
    border: 2px solid white;
    transition: all 100ms ease;
    font-family: Open Sans;
    font-size: 24px; }
    .formbox input[type=submit]:hover {
      background: rgba(0, 0, 0, 0.8);
      color: white; }

.rest {
  z-index: 555;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }
